@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');


body {
	background-color:#252c5d;
	text-align: center;
	color:#fff;
	padding-top:5em;
	font-family: 'Oleo Script', cursive;
  }
.content{
	margin-left: 1em;
	margin-right: 1em;
}
h1 {
	font-size: 3.5em;
	color: #ca1e2e;
	text-shadow: -2px 0 #d1d3da, 0 2px #d1d3da, 2px 0 #d1d3da, 0 -2px #d1d3da;
  }

h2 {
	font-size: 2.5em;
	color: #ca1e2e;
	text-shadow: -1px 0 #d1d3da, 0 1px #d1d3da, 1px 0 #d1d3da, 0 -1px #d1d3da;
  }

.col-description{
    font-size: 1.5em;
	color: #d1d3da;
	text-shadow: -1px 0 #ca1e2e, 0 1px #ca1e2e, 1px 0 #ca1e2e, 0 -1px #ca1e2e;
}

.col-benefits{
    font-size: 1.5em;
	color: #5f172e;
	text-shadow: -1px 0 #71cdf3, 0 1px #71cdf3, 1px 0 #71cdf3, 0 -1px #71cdf3;
}
  span {
	border-right: .05em solid;
	animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
	50% {
	  border-color: transparent;
	}
  }

  a:link {
	text-decoration: none;
	color: white;
  }
  
  a:visited {
	text-decoration: none;
	color: white;
  }

  a{
	text-decoration: none;
	color: white;
  }
  a:active{
	text-decoration: none;
	color: white;
  }

  .social-container{
		position:absolute;
		bottom:0;
		width:100%;
		height:60px;   /* Height of the footer */
		background:rgb(238, 146, 143);
		padding-top: 6px;
  }
  .social-container > a {
	  padding-left: 20px;
	  color: #fff
  }
  .social-container > a:hover{
	color: #000
  }
  .button{
	background-color: transparent;
	border: 1px solid rgb(238, 146, 143);
	border-radius: 15px;
	color: rgb(238, 146, 143);
	margin-top: 5em;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
  }

  .button:hover {
	background-color: transparent;
	border: 1px solid rgb(238, 146, 143);
	border-radius: 15px;
	color: rgb(238, 146, 143);
	margin-top: 5em;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
  }


  @media only screen and (max-width: 600px){
	body {
		background-color:#ce3635;
		text-align: center;
		color:#fff;
		padding-top:0em;
	    font-family: 'Oleo Script', cursive;
	  }
	  .button {
		background-color: transparent;
		border: 1px solid rgb(238, 146, 143);
		border-radius: 15px;
		color: rgb(238, 146, 143);;
		margin-top: 2em;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		text-transform: uppercase;
	  }
	
	  .button:hover {
		background-color: transparent;
		border: 1px solid rgb(238, 146, 143);
		border-radius: 15px;
		color: rgb(238, 146, 143);;
		margin-top: 2em;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		text-transform: uppercase;
	  }

  }