@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');




body {
	background-color:#252c5d;
	text-align: center;
	color:#fff;
	font-family: 'Oleo Script', cursive;
  }

.stonk-title {
	color: #ca1e2e;
	text-shadow: -2px 0 #d1d3da, 0 2px #d1d3da, 2px 0 #d1d3da, 0 -2px #d1d3da;
}

.stonk-text{
	color: #d1d3da;
	text-shadow: -1px 0 #ca1e2e, 0 1px #ca1e2e, 1px 0 #ca1e2e, 0 -1px #ca1e2e;
}

.content{
	margin-left: 1em;
	margin-right: 1em;
}
h1 {
	font-size: 3.5em;
	color: #ca1e2e;
	text-shadow: -2px 0 #d1d3da, 0 2px #d1d3da, 2px 0 #d1d3da, 0 -2px #d1d3da;
  }

h2 {
	font-size: 2.5em;
	color: #ca1e2e;
	text-shadow: -1px 0 #d1d3da, 0 1px #d1d3da, 1px 0 #d1d3da, 0 -1px #d1d3da;
  }

h3 {
	font-size: 2.5em;
	color: #ca1e2e;
	text-shadow: -2px 0 #d1d3da, 0 2px #d1d3da, 2px 0 #d1d3da, 0 -2px #d1d3da;
  }


.col-description{
    font-size: 1.5em;
	color: #d1d3da;
	text-shadow: -1px 0 #ca1e2e, 0 1px #ca1e2e, 1px 0 #ca1e2e, 0 -1px #ca1e2e;
}

.col-benefits{
    font-size: 1.5em;
	color: #5f172e;
	text-shadow: -1px 0 #71cdf3, 0 1px #71cdf3, 1px 0 #71cdf3, 0 -1px #71cdf3;
}
  span {
	border-right: .05em solid;
	animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
	50% {
	  border-color: transparent;
	}
  }

  a:link {
	text-decoration: none;
	color: white;
  }
  
  a:visited {
	text-decoration: none;
	color: white;
  }

  a{
	text-decoration: none;
	color: white;
  }
  a:active{
	text-decoration: none;
	color: white;
  }

  .social-container{
		position:absolute;
		bottom:0;
		width:100%;
		height:60px;   /* Height of the footer */
		background:rgb(238, 146, 143);
		padding-top: 6px;
  }
  .social-container > a {
	  padding-left: 20px;
	  color: #fff
  }
  .social-container > a:hover{
	color: #000
  }
  .button{
	background-color: transparent;
	border: 1px solid rgb(238, 146, 143);
	border-radius: 15px;
	color: rgb(238, 146, 143);
	margin-top: 5em;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
  }

  .button:hover {
	background-color: transparent;
	border: 1px solid rgb(238, 146, 143);
	border-radius: 15px;
	color: rgb(238, 146, 143);
	margin-top: 5em;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
  }


  @media only screen and (max-width: 600px){
	body {
		background-color:#ce3635;
		text-align: center;
		color:#fff;
		padding-top:0em;
	    font-family: 'Oleo Script', cursive;
	  }
	  .button {
		background-color: transparent;
		border: 1px solid rgb(238, 146, 143);
		border-radius: 15px;
		color: rgb(238, 146, 143);;
		margin-top: 2em;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		text-transform: uppercase;
	  }
	
	  .button:hover {
		background-color: transparent;
		border: 1px solid rgb(238, 146, 143);
		border-radius: 15px;
		color: rgb(238, 146, 143);;
		margin-top: 2em;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		text-transform: uppercase;
	  }

  }


 /* NAVBAR STYLING STARTS */
 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

a {
 text-decoration: none;
}
li {
 list-style: none;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #629ac2;
 color: #fff;
}

.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #71cdf3;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative;
}
.dropdown {
 background-color: #629ac2;
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown li:hover {
 background-color: #71cdf3;
}
.services:hover .dropdown {
 display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
}
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu {
 display:none;
 position: absolute;
 background-color:teal;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color: #71cdf3;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
}


/* Timeline Container */
.timeline {
  background-color: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card {
  position: relative;
  max-width: 100%;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #5f172e;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #5f172e;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid #ca1e2e;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}